<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico|Roboto">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" ng-app="pomApp" ng-controller="pomCtrl">
    <div class="main_content">
        <h1>Pomodoro Timer</h1>
        <br />
        <div id="bigCircle">
            <div class="progress-wrapper">
                <div class="progress ng-cloak">
                    {{myTimer | time}}
                </div>
                <div
                        round-progress
                        max="myFixedTimer"
                        current="myTimer"
                        color="{{color}}"
                        bgcolor="{{bgcolor}}"
                        radius="120"
                        rounded="true"
                        stroke="20"
                        clockwise="clockwise"
                        responsive="false"
                        duration="500"
                        offset="0"
                        animation-delay="0"
                >
                    <svg>
                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="0">
                            <stop offset="5%" stop-color="green" />
                            <stop offset="95%" stop-color="gold" />
                        </linearGradient>
                    </svg>
                </div>
            </div>
        </div>
        <br />
        <button class="btn btn-success" ng-click="start()"><i class="fa fa-play" aria-hidden="true"></i></button>
        <button class="btn btn-danger" ng-click="reset()"><i class="fa fa-stop" aria-hidden="true"></i></button>
        <br />
        <div class="container setting">
            <div class="row">
                <div class="col-sm breakL">
                    <p>Break Length</p>
                    <p>
                        <i class="fa fa-minus" aria-hidden="true" ng-click="breakTime = breakTime > 1 ? breakTime - 1 : 1"></i>
                        <span class="timeLength">{{breakTime}}</span>
                        <i class="fa fa-plus" aria-hidden="true" ng-click="breakTime = breakTime + 1"></i>
                    </p>
                </div>
                <div class="col-sm workL">
                    <p>Work Length</p>
                    <p>
                        <i class="fa fa-minus" aria-hidden="true" ng-click="workTime = workTime > 1 ? workTime - 1 : 1"></i>
                        <span class="timeLength">{{workTime}}</span>
                        <i class="fa fa-plus" aria-hidden="true" ng-click="workTime = workTime + 1"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
<script src="script.js"></script>
</body>
</html>
