<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnesstrainer</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico|Roboto">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body ng-app="pomApp" ng-controller="pomCtrl">
<div class="container">
    <h1>Dein Fitnesstrainer</h1>
    <div class="controls" ng-show="!showTimer && !showWorkoutPlan">
        <label for="duration">Trainingsdauer (Minuten):</label>
        <input type="number" id="duration" min="1" max="30" step="1" ng-model="duration">

        <label for="difficulty">Schwierigkeitsgrad:</label>
        <input type="number" id="difficulty" min="1" max="5" step="1" ng-model="difficulty">

        <button ng-click="startTraining()">Training starten</button>
    </div>
    <div id="timer-container" ng-show="showTimer">
        <div id="bigCircle">
            <div class="progress-wrapper">
                <div class="progress ng-cloak">
                    {{myTimer | time}}
                </div>
                <div
                        round-progress
                        max="myFixedTimer"
                        current="myTimer"
                        color="{{color}}"
                        bgcolor="{{bgcolor}}"
                        radius="120"
                        rounded="true"
                        stroke="20"
                        clockwise="clockwise"
                        responsive="false"
                        duration="500"
                        offset="0"
                        animation-delay="0">
                    <svg>
                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="0">
                            <stop offset="5%" stop-color="green" />
                            <stop offset="95%" stop-color="gold" />
                        </linearGradient>
                    </svg>
                </div>
            </div>
        </div>
        <div id="message">Mach dich bereit!</div>
    </div>
    <div id="workout-plan-container" ng-show="showWorkoutPlan">
        <h2>Absolvierter Trainingsplan</h2>
        <div id="workout-plan"></div>
        <button ng-click="reset()">Neues Training starten</button>
    </div>
</div>

<audio id="gong-sound" src="audio/gong.mp3" preload="auto"></audio>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
<script src="js/script.js"></script>
<script src="js/exercises.js"></script>
</body>
</html>
